# node dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# iOS/Android native files (optional if using EAS or ejecting)
ios/
android/
*.keystore
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.gradle

# Metro bundler
.metro-health-check*
.expo-shared/assets.json

# Build & debug logs
*.log
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS junk
.DS_Store

# Windows junk
Thumbs.db
ehthumbs.db

# Environment files
.env
.env*.local

# TypeScript
*.tsbuildinfo

# VSCode settings (optional)
.vscode/

# IDE junk
.idea/
*.iml

# Cache
.expo-shared/
.cache/
tmp/

# Misc
*.pem
*.orig.*
app-example
